<template>
  <div id="map-wrapper">
    <!--    <keep-alive>-->
    <component
      :is="activeComponent"
      :items="items"
      :config="config"
      @markerWasClicked="showPopup"
    />
    <!--    </keep-alive>-->
    <item-popup
      v-if="getPopupDetails && popupActive"
      :object="getPopupDetails"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { mapItem, markerClickedInterface } from "@/interfaces/Interfaces";
import { mapConfig } from "@/interfaces/configInterfaces";
import GoogleMap from "@/lib-components/subcomponents/GoogleMap.vue";
import OpenMap from "@/lib-components/subcomponents/OpenMap.vue";
import ItemPopup from "@/lib-components/subcomponents/ItemPopup.vue";

/*
const GoogleMap = () => /!*#__PURE__*!/ import(/!* webpackChunkName: "gmap" *!/ /!* webpackName: "GoogleMap" *!/ "@/lib-components/subcomponents/GoogleMap.vue")
const OpenMap = () => /!*#__PURE__*!/ import(/!* webpackChunkName: "openmap" *!/ "@/lib-components/subcomponents/OpenMap.vue")
*/

export default /*#__PURE__*/ defineComponent({
  name: "map-to-vue",
  components: {
    GoogleMap: GoogleMap,
    OpenMap: OpenMap,
    ItemPopup,
  },
  props: {
    items: {
      required: true,
      type: Array as () => mapItem[],
    },
    config: {
      required: true,
      type: Object as () => mapConfig,
    },
  },
  data: () => {
    return {
      mapComponents: <any>{
        google: "GoogleMap",
        openmap: "OpenMap",
      },
      popupActive: false,
      popupItem: <markerClickedInterface | null>null,
    };
  },
  emits: ["itemClicked"],
  computed: {
    activeComponent() {
      if (!this.mapComponents[this.config.mapModel.name]) {
        return "zero";
      }
      return this.mapComponents[this.config.mapModel.name];
    },
    getPopupDetails() {
      return this.popupItem;
    },
  },
  methods: {
    showPopup(item: markerClickedInterface) {
      this.popupActive = true;
      this.popupItem = item;
      this.deactivatePopup();
    },
    deactivatePopup(time = 2000) {
      const vm = this;
      setTimeout(() => {
        vm.popupActive = false;
        vm.popupItem = null;
      }, time);
    },
  },
});
</script>
