<template>
  <div id="map" :style="{ height: height, width: width }">OPEN - MAP COMPONENT</div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

import {mapItem} from "../../interfaces/Interfaces";
import {mapConfig} from "../../interfaces/configInterfaces";

export default /*#__PURE__*/ defineComponent({
  name: "OpenMap",
  props: {
    items: {
      required: true,
      type: Array as () => mapItem[],
    },
    config: {
      required: true,
      type: Object as () => mapConfig,
    },
  },
  data: () => {
    return {
      /*markers: <any>[],
      map: null*/
    };
  },
  computed: {
    height() {
      return this.config.height ? `${this.config.height}px` : "600px";
    },
    width() {
      return this.config.width ? `${this.config.width}px` : "600px";
    },
  },
})
</script>

<style scoped>

</style>
